body{

margin:0;

font-family:Arial;

background:
linear-gradient(
black,
#170020,
black
);

height:100vh;

overflow:hidden;

color:white;

display:flex;

justify-content:center;

align-items:center;

}

.portal{

text-align:center;

z-index:2;

}

h1{

font-size:90px;

}

.heart{

display:inline-block;

animation:
beat 1s infinite;

}

@keyframes beat{

50%{

transform:
scale(1.4)

}

}

.worlds{

display:grid;

grid-template-columns:
repeat(5,1fr);

gap:20px;

margin-top:60px;

}

a{

text-decoration:none;

color:white;

}

.world{

padding:30px;

border-radius:30px;

background:
rgba(
255,255,255,.08
);

backdrop-filter:
blur(15px);

transition:.6s;

cursor:pointer;

}

.world:hover{

transform:
translateY(-15px)
scale(1.05);

box-shadow:
0 0 50px hotpink;

}

.stars{

position:absolute;

width:100%;
height:100%;

background-image:
radial-gradient(
white 1px,
transparent 1px
);

background-size:
50px 50px;

opacity:.3;

animation:
move 80s linear infinite;

}

@keyframes move{

from{

transform:
translateY(0)

}

to{

transform:
translateY(800px)

}

}
